<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <%- include("../partials/header")%>
    <main>
        <%if(registeredHomes.length == 0) {%>
        <h1 class="top-heading">Welcome to airbnb</h1>
        <%} else {%>
            <h1 class="top-heading">Here are our registered Homes:</h1>

            <div class="card-container">
                <%registeredHomes.forEach((home)=> {%>
                    <div class="card">
                        <div class="img-container">
                            <img src="<%= home.photo%>" alt="">
                        </div>
                        <div class="content">
                            <p><%= home.houseName%></p>
                            <div class="flex-container">
                                <span>₹<%= home.price %> for 1 night</span>
                                <span>★<%= home.rating %></span>
                            </div>
                        </div>
                        <div class="ft-editndel">
                            <a href="/host/edit-home/<%= home._id%>?editing=true" class="edit-btn">Edit</a>
                            <form action="/host/delete-home/<%= home._id%>" method="POST">
                                <button class="del-btn">Delete</button>
                            </form>
                        </div>
                        
                    
                    </div>
                <%})%>
            </div>
        <%}%>
        <p class="btn-addHome"><a href="/host/addHome">Add Home</a></p>
    </main>
</body>
</html>